BASE_URL=http://localhost:3001
CLIENT_ID=your-auth0-client-id
DATABASE_URL="mongodb+srv://username:password@cluster.abc.mongodb.net/MyDatabase"
ISSUER_BASE_URL=https://your-domain.auth0.com or tenant
SECRET=
VERCEL=true