DATABASE_URL="mongodb+srv://username:password@cluster.abc.mongodb.net/MyDatabase"
AUTH0_AUDIENCE=https://your-api-identifier
AUTH0_ISSUER_BASE_URL=https://your-domain.auth0.com
FRONTEND_URL=http://localhost:5173